
*{
	box-sizing: border-box;
	margin: 2px 2px 2px 2px;
	padding: 2px 5px;
	color: white;
}

body{
	/*background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url(../images/back.jpg);*/
	background-color: #98afc7;
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;
	height: 100vh;
}

/*/////////////////////////// HEADER  //////////////////////////////////////*/

header{
	width: 100%;
	background-color: transparent;
}
p{
	float: left;
	color: white;
	font-size: 50px;
}
ul{
	list-style-type: none;
	float: right;
}

ul li{
display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 7px 15px;
	border: 1px solid #fff;
	border-radius: 3px;
	transition: 0.8s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;

}

ul li.active a{
	background-color: #fff;
	color: #000;
}
/*/////////////////////////////  HEADER ENDS HERE  ///////////////////////////////////////////////////////////*/


section{
/*	background-color: white;*/
	width: 100%;
	align-items: center;
}

@media (max-width: 530px) {
	ul{
		display: none;
	}
	p{
		text-align: center;
		color: white;
	}
	section,footer {
	 /*background-color: gray;*/
   	 width: 100%;
   /* height: auto;*/
  }
  footer{
  	margin-top: 20px;
  }
  ul li{
  	display: block;
  }
  .buttons a{
  	display: block;
  }
  .title{
  	margin-top: 20px;
  }
}

.title{
	text-align: center;
	color: #fff;
	margin-top: 140px;
}

.title h1{
	font-size: 20px;
}
.title h2{
	font-size: 50px;
}
.title h3{
	font-size: 20px;
	
}

.buttons{
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.buttons a{
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	padding: 5px 25px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

.buttons a:hover{
	background-color: #fff;
	color: #000;
}

footer{
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 20px;
	color: white;
}