body {
    font-family: poppins, sans-serif
}

body {
    margin-left: 0
}

body {
    margin-bottom: 0
}

body {
    margin-right: 0
}

audio:not([controls]),
[hidden] {
    display: none
}

body {
    margin-top: 0
}

body {
    font-size: 10.5pt
}

body {
    background: #fff
}

body {
    color: #1a2a38
}

details,
header,
nav,
figcaption,
section,
hgroup,
footer,
main,
figure,
aside,
summary,
menu,
article {
    display: block
}

audio:not([controls]) {
    height: 0
}

a:hover,
a:active {
    outline: 0
}

audio,
canvas,
video,
progress {
    display: inline-block
}

progress,
audio,
canvas,
video {
    vertical-align: baseline
}

template {
    display: none
}

a {
    text-decoration: none
}

strong,
b {
    font-weight: 700
}

li {
    list-style-type: none
}

ul {
    padding-left: 0
}

ul {
    padding-bottom: 0
}

ul {
    padding-right: 0
}

abbr[title] {
    border-bottom-width: .010416667in
}

ul {
    padding-top: 0
}

ul {
    margin-left: 0
}

ul {
    margin-bottom: 0
}

ul {
    margin-right: 0
}

ul {
    margin-top: 0
}

h3,
h1,
h4,
h5,
h6,
h2 {
    margin-top: 0
}

abbr[title] {
    border-bottom-style: dotted
}

h1,
h6,
h3,
h2,
h5,
h4 {
    margin-bottom: 0
}

a,
a:hover {
    -webkit-transition: all .5s ease
}

a,
a:hover {
    -moz-transition: all .5s ease
}

a,
a:hover {
    -o-transition: all .5s ease
}

abbr[title] {
    border-bottom-color: currentColor
}

a,
a:hover {
    transition: all .5s ease
}

div {
    box-sizing: border-box
}

:after,
:before {
    font-family: material icons
}

:after,
:before {
    position: absolute
}

abbr[title] {
    border-image: url('') none
}

@font-face {
    font-family: material icons;
    font-style: normal;
    font-weight: 400;
    src: url(icon.woff2) format("woff2")
}

#preloader {
    position: fixed
}

#preloader {
    top: 0
}

#preloader {
    left: 0
}

#preloader {
    right: 0
}

input,
select,
textarea {
    outline: none
}

::-webkit-scrollbar {
    width: .052083333in
}

#preloader {
    bottom: 0
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

#preloader {
    background-color: #fff
}

#preloader {
    z-index: 99999
}

#status {
    position: absolute
}

::-webkit-scrollbar-thumb {
    background: #888
}

input,
textarea,
select {
    font-family: poppins, sans-serif
}

#status {
    left: 46%
}

#status {
    top: 40%
}

#status {
    border-left-width: 3.75pt
}

#status {
    border-bottom-width: 3.75pt
}

::placeholder {
    color: #1a2a38
}

#status {
    border-right-width: 3.75pt
}

#status {
    border-top-width: .052083333in
}

#status {
    border-left-style: solid
}

#status {
    border-bottom-style: solid
}

#status {
    border-right-style: solid
}

#status {
    border-top-style: solid
}

#status {
    border-left-color: #f3f3f3
}

#status {
    border-bottom-color: #f3f3f3
}

#status {
    border-right-color: #f3f3f3
}

#status {
    border-top-color: #76cef1
}

::placeholder {
    opacity: 1
}

#status {
    border-image: url('') none
}

:-ms-input-placeholder {
    color: #1a2a38
}

::-ms-input-placeholder {
    color: #1a2a38
}

#status {
    border-radius: 50%
}

#status {
    width: 75pt
}

#status {
    height: 75pt
}

#status {
    -webkit-animation: spin 2s linear infinite
}

#status {
    animation: spin 2s linear infinite
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

[class~=land-3-top-logo] a img {
    margin-top: 1.5pt
}

[class~=land-3-top-logo] a {}

[class~=land-full] {
    width: 100%
}

[class~=land-full],
[class~=land-container] {
    position: relative
}

[class~=land-full] {
    overflow: hidden
}

[class~=land-container] {
    width: 10.416666667in
}

[class~=land-container] {
    margin-left: auto
}

[class~=land-container] {
    margin-bottom: 0
}

[class~=land-container] {
    margin-right: auto
}

[class~=land-container] {
    margin-top: 0
}

[class~=la-container-75] {
    width: 9.895833333in
}

[class~=col1] {
    width: 10%
}

[class~=col1],
.col45,
.col3,
[class~=col2],
[class~=col25],
[class~=col4],
[class~=col35],
.col15 {
    float: left
}

[class~=col2],
[class~=col25],
.col3,
[class~=col4],
[class~=col1],
[class~=col35],
.col15,
.col45 {
    padding-left: 11.25pt
}

[class~=land-3-top-logo] a img {
    width: 276px
}

[class~=col1],
[class~=col25],
.col15,
[class~=col2],
[class~=col35],
[class~=col4],
.col45,
.col3 {
    padding-bottom: 11.25pt
}

/*[class~=land-3-top-contact] ul li:before {
    font-size: 18px
}*/

[class~=col35],
[class~=col1],
.col45,
[class~=col4],
[class~=col2],
.col3,
.col15,
[class~=col25] {
    padding-right: 11.25pt
}

[class~=col35],
.col3,
[class~=col1],
[class~=col25],
.col45,
[class~=col4],
.col15,
[class~=col2] {
    padding-top: 11.25pt
}

.col15 {
    width: 15%
}

[class~=col2] {
    width: 20%
}

/*[class~=land-3-top-contact] ul li:nth-child(1):before {
    content: "local_phone"
}

[class~=land-3-top-contact] ul li:nth-child(2):before {
    content: "mail"
}*/

[class~=col25] {
    width: 25%
}

[class~=land-3-top-contact] ul {
    float: right
}

[class~=land-3-top-logo] a img {}

.col3 {
    width: 30%
}

[class~=land-3-top-contact] ul {
    padding-top: 17.25pt
}

[class~=col35] {
    width: 35%
}

.land-3-banner-full:before {
    content: ""
}

[class~=col4] {
    width: 40%
}

[class~=land-3-top-logo] a img {
    -webkit-object-fit: cover
}

.col45 {
    width: 45%
}

[class~=land-3-top-logo] a img {
    -moz-object-fit: cover
}

[class~=col5] {
    width: 50%
}

[class~=col5],
[class~=col55],
[class~=land-3-top-contact] ul li,
[class~=col65],
[class~=col6],
[class~=col8],
[class~=col75],
[class~=col7] {
    float: left
}

[class~=col75],
[class~=col55],
[class~=col7],
[class~=col6],
[class~=col5],
[class~=col85],
[class~=col8],
[class~=col65] {
    padding-left: 11.25pt
}

[class~=col8],
[class~=col65],
[class~=col85],
[class~=col5],
[class~=col6],
[class~=col7],
[class~=col75],
[class~=col55] {
    padding-bottom: 11.25pt
}

[class~=col75],
[class~=col65],
[class~=col55],
[class~=col5],
[class~=col85],
[class~=col6],
[class~=col8],
[class~=col7] {
    padding-right: 11.25pt
}

[class~=col6],
[class~=col85],
[class~=col8],
[class~=col55],
[class~=col75],
[class~=col65],
[class~=col7],
[class~=col5] {
    padding-top: 11.25pt
}

[class~=col55] {
    width: 55%
}

[class~=land-3-top-logo] a img {
    -o-object-fit: cover
}

[class~=land-3-top-logo] a img {
    -ms-object-fit: cover
}

.land-3-banner-full:before {
    position: absolute
}

[class~=col6] {
    width: 60%
}

[class~=col65] {
    width: 65%
}

[class~=land-3-top-logo] a img {
    object-fit: cover
}

[class~=col7] {
    width: 70%
}

[class~=land-3-top-contact] ul li {
    color: #262e3e
}

.land-3-banner-full:before {
    top: 0
}

[class~=col75] {
    width: 75%
}

.land-3-banner-full:before {
    bottom: 0
}

[class~=col8] {
    width: 80%
}

[class~=land-3-top-contact] ul li:before {
    margin-top: 1px
}

[class~=land-3-top-contact] ul li:before {
    margin-left: -19.5pt
}

[class~=col85] {
    width: 85%
}

.land-3-top-logo,
.col9,
[class~=land-3-top-contact],
[class~=col85],
[class~=col95] {
    float: left
}

[class~=land-3-top-contact] ul li {
    margin-left: 50px
}

.col9 {
    width: 90%
}

[class~=col95],
.col9 {
    padding-left: 11.25pt
}

[class~=land-3-top-contact] ul li:before,
[class~=land-3-top-contact] ul li {
    font-weight: 500
}

.col9,
[class~=col95] {
    padding-bottom: 11.25pt
}

.col9,
[class~=col95] {
    padding-right: 11.25pt
}

.col9,
[class~=col95] {
    padding-top: 11.25pt
}

[class~=col95] {
    width: 95%
}

.land-3-banner-full:before {
    left: 0
}

[class~=land-3],
[class~=land-3-top] {}

[class~=land-3-top-full] {
    background: #fff
}

[class~=land-3-top-full] {
    position: fixed
}

[class~=land-3-top-full] {
    display: inline-block
}

[class~=land-3-top-full] {
    width: 100%
}

[class~=land-3-top-full] {
    height: 90px
}

[class~=land-3-top-full],
.land-3-banner-full {
    padding-left: 0
}

.land-3-banner-full:before {
    right: 0
}

[class~=land-3-top-full] {
    padding-bottom: .625pc
}

[class~=land-3-top-full],
.land-3-banner-full {
    padding-right: 0
}

[class~=land-3-top-full] {
    padding-top: .625pc
}

[class~=land-3-top-full] {
    top: 0
}

[class~=land-3-top-full] {
    z-index: 9
}

[class~=land-3-top-full] {
    box-shadow: 0 3px 2.1875pc .45pt rgba(40, 30, 20, .29)
}

.land-3-banner-full:before {
    background-size: 375pt
}

.land-3-top-logo,
[class~=land-3-top-contact] {
    width: 50%
}

.land-3-banner-full {
    position: relative
}

.land-3-banner-full {
    background: url(../images/four.jpg);
    min-height: 380px;
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.land-3-banner-full {
    padding-bottom: .677083333in
}

.land-3-banner-full {
    padding-top: 4.0625pc
}

.land-3-banner-full {
    margin-top: 41.25pt
}

.land-3-banner-full:before {
    background-position: 20% 100%
}

[class~=land-3-top-contact] ul li:before {
    color: #262e3e
}

@keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: 100% 0
    }
}

[class~=land-3-dwn],
.land-3-banner,
.land-com-form form,
[class~=land-3-banner-conte] ul {}

/*[class~=land-com-form] form ul li:nth-child(1):before {
    content: "person"
}
*/
[class~=land-3-banner-conte] h1 {
    font-size: .645833333in
}

[class~=land-3-banner-conte] h1 {
    line-height: 62px
}

[class~=land-3-banner-conte] h1 {
    margin-bottom: .15625in
}

[class~=land-3-banner-conte] h4 {
    font-size: 20px
}

[class~=land-3-banner-form],
[class~=land-3-banner-conte] {
    float: left
}

[class~=land-3-dwn-img] img,
select {
    width: 100%
}

/*[class~=land-3-banner-conte] ul li:before {
    content: ""
}*/

[class~=land-3-banner-conte] h4 {
    line-height: 15pt
}

[class~=land-3-banner-conte] {
    width: 60%
}

[class~=land-3-banner-conte] {
    color: #262e3e
}

[class~=land-3-banner-conte] h4 {
    font-weight: 300
}

.land-3-banner-conte p {
    padding-bottom: 22.5pt
}

[class~=land-3-banner-conte] ul li:before {
    position: absolute
}

.land-com-form form ul li:before {
    font-size: 13.5pt
}

.land-com-form form ul li:before {
    margin-top: .75pc
}

[class~=test-box]:hover {
    background: #f2f4f7
}

[class~=land-3-banner-conte] {
    padding-right: 60px
}

.land-3-banner-conte p {
    margin-bottom: 1.875pc
}

.land-com-form form ul li:before {
    margin-left: .104166667in
}

[class~=land-3-banner-form] {
    width: 40%
}

[class~=land-com-form] h2 {
    font-size: .229166667in
}

[class~=land-3-banner-form] {
    padding-left: .208333333in
}

[class~=land-com-form] h2 {
    text-align: center
}

[class~=land-com-form] {
    background: #262e3e
}

[class~=land-com-form] {
    padding-left: 1.875pc
}

[class~=land-com-form] h2 {
    margin-bottom: 18px
}

[class~=land-com-form] {
    padding-bottom: 1.875pc
}

/*[class~=land-com-form] form ul li:nth-child(2):before {
    content: "mail_outline"
}*/

[class~=land-com-form] {
    padding-right: 1.875pc
}

[class~=land-3-banner-conte] ul li:before {
    background: #068ae6
}

[class~=land-com-form] {
    padding-top: 1.875pc
}

[class~=land-com-form] h2 {
    color: #fff
}

[class~=land-3-banner-conte] ul li:before {
    width: 7px
}

[class~=land-com-form] h2 {
    line-height: 22px
}

/*.land-com-form form ul li:nth-child(3):before {
    content: "phone_iphone"
}*/

[class~=land-com-form] {
    border-radius: .25pc
}

[class~=test-box]:hover {
    box-shadow: 0 .3125pc 1.25pc -6pt rgba(19, 18, 18, .5)
}

[class~=land-com-form] {
    box-shadow: 0 1.5pt .9375pc -5px rgba(0, 0, 0, .76)
}

[class~=land-3-dwn-full] {
    display: inline-block
}

[class~=test-box]:hover[class~=test-box] img,
[class~=test-box]:hover {
    -webkit-transition: all .5s ease
}

/*.land-com-form form ul li:nth-child(4):before {
    content: "date_range"
}*/

[class~=land-3-dwn-right] a:hover {
    border-left-width: .0625pc
}

[class~=land-3-dwn-full] {
    padding-left: 0
}

[class~=land-3-dwn-img] img {
    height: 21.875pc
}

[class~=land-pack-grid]:hover [class~=land-pack-grid-img] img {
    -webkit-transform: scale(1.05)
}

[class~=land-3-dwn-img] img {
    -webkit-object-fit: cover
}

[class~=land-3-banner-conte] ul li:before {
    height: .4375pc
}

[class~=land-3-dwn-full] {
    padding-bottom: .625in
}

[class~=land-3-dwn-right] a:hover {
    border-bottom-width: .75pt
}

[class~=land-3-dwn-img] img {
    -moz-object-fit: cover
}

[class~=land-3-dwn-img] img {
    -o-object-fit: cover
}

/*[class~=land-com-form] form ul li:nth-child(5):before {
    content: "people"
}*/

[class~=land-3-dwn-full] {
    padding-right: 0
}

.land-com-form form ul li:before {
    color: #6a717f
}

[class~=land-3-banner-conte] ul li:before {
    margin-left: -22.5pt
}

[class~=land-3-dwn-full] {
    padding-top: .625in
}

[class~=land-pack-grid]:hover [class~=land-pack-grid-img] img {
    -moz-transform: scale(1.05)
}

.land-com-form form ul li:nth-child(6):hover:before {
    opacity: 1
}

[class~=land-pack-grid]:hover [class~=land-pack-grid-img] img {
    transform: scale(1.05)
}

[class~=land-3-banner-conte] ul li {
    color: #7e95a7
}

[class~=land-3-banner-conte] ul li {
    padding-left: .3125in
}

[class~=land-3-dwn-img] img {
    -ms-object-fit: cover
}

select {
    display: block
}

.land-pack-grid:hover .land-pack-grid-text {
    margin-top: -31.5pt
}

[class~=land-3-dwn-img] img {
    object-fit: cover
}

[class~=land-3-dwn-img],
[class~=land-3-dwn-right] {
    float: left
}

[class~=land-3-dwn-right] h2 {
    font-size: 3pc
}

[class~=land-3-dwn-img] {
    width: 40%
}

[class~=land-3-dwn-right] h2 {
    line-height: 62px
}

[class~=land-3-dwn-right] p {
    line-height: .270833333in
}

[class~=land-3-dwn-right] {
    width: 60%
}

[class~=land-3-dwn-right] {
    padding-left: 100px
}

.land-com-form form ul li:before {
    font-weight: 500
}

[class~=test-box]:hover[class~=test-box] img {
    background: #e14140
}

[class~=buy-now-btn] {
    height: 50px
}

[class~=buy-now-btn] {
    background: #d63938
}

[class~=buy-now-btn] {
    background: -webkit-linear-gradient(to top, #d63938, #ef4b4a)
}

[class~=buy-now-btn] {
    background: linear-gradient(to top, #d63938, #ef4b4a)
}

[class~=land-com-form] form ul li input[type=submit] {
    background: #f74d40
}

[class~=buy-now-btn] {
    margin-left: auto
}

[class~=land-com-form] form ul li input[type=submit] {
    background: -webkit-linear-gradient(to top, #3547ab, #3f51b5)
}

select,
[class~=land-3-dwn-right] a:hover {
    border-right-width: .0625pc
}

[class~=land-3-dwn-right] p {
    color: #495e71
}

[class~=land-pack-grid-text] h4,
[class~=buy-now-btn] {
    margin-bottom: 0
}

[class~=land-3-dwn-right] a {
    margin-right: 15px
}

.land-pack-grid:hover .land-pack-grid-text,
[class~=land-pack-grid-img] img {
    -webkit-transition: all .5s ease
}

[class~=land-pack] ul,
[class~=land-com-form] form ul li {
    position: relative
}

[class~=buy-now-btn] {
    margin-right: auto
}

[class~=land-pack-grid-img] img,
.land-com-form form ul li input,
[class~=land-pack] ul {
    width: 100%
}

[class~=land-3-banner-conte] ul li:before {
    margin-top: .4375pc
}

[class~=land-pack-grid-img] img,
[class~=test-box]:hover {
    -moz-transition: all .5s ease
}

[class~=buy-now-btn] {
    margin-top: .625pc
}

.land-com-form form ul li input,
select,
[class~=buy-now-btn],
[class~=land-3-dwn-right] a:hover {
    border-top-width: .0625pc
}

[class~=buy-now-btn] {
    display: inline-block
}

select,
[class~=buy-now-btn],
[class~=land-3-dwn-right] a:hover {
    border-left-style: solid
}

[class~=buy-now-btn],
select {
    border-left-width: .75pt
}

[class~=buy-now-btn] {
    border-radius: .1875pc
}

[class~=land-com-form] form ul li input[type=submit],
[class~=buy-now-btn] {
    line-height: .520833333in
}

[class~=land-com-form] form ul li input[type=submit],
[class~=buy-now-btn] {
    color: #fff
}

[class~=land-3-banner-conte] ul li:before {
    border-radius: 37.5pt
}

select,
[class~=buy-now-btn],
[class~=land-3-dwn-right] a:hover {
    border-bottom-style: solid
}

[class~=buy-now-btn] {
    font-weight: 700
}

[class~=land-com-form] form ul li input[type=submit] {
    background: linear-gradient(to top, #f44336, #fb5a4e)
}

[class~=land-com-form] form ul li {
    margin-bottom: .9375pc
}

[class~=buy-now-btn] {
    font-size: 15pt
}

select,
[class~=buy-now-btn],
[class~=land-3-dwn-right] a:hover {
    border-right-style: solid
}

[class~=buy-now-btn],
select {
    border-bottom-width: .75pt
}

[class~=land-3-dwn-right] a:hover,
[class~=buy-now-btn] {
    border-top-style: solid
}

[class~=buy-now-btn] {
    padding-left: 1.875pc
}

[class~=buy-now-btn] {
    padding-bottom: 0
}

[class~=land-pack-grid-img] img,
[class~=test-box]:hover {
    -o-transition: all .5s ease
}

[class~=buy-now-btn] {
    padding-right: 1.875pc
}

[class~=buy-now-btn] {
    padding-top: 0
}

[class~=buy-now-btn] {
    box-sizing: border-box
}

[class~=land-com-form] form ul li:last-child {
    margin-bottom: 0
}

[class~=land-pack-grid-img] img {
    transition: all .5s ease
}

[class~=land-pack-grid-text] h4 {
    margin-left: 0
}

[class~=buy-now-btn],
[class~=land-pack-grid-text] h4 {
    text-align: center
}

[class~=land-3-dwn-right] a:hover {
    border-left-color: #cb2f2e
}

[class~=land-3-dwn-right] a:hover {
    border-bottom-color: #bf2928
}

[class~=buy-now-btn],
.land-com-form form ul li input {
    border-right-width: .0625pc
}

[class~=land-pack-grid-text] h4 {
    margin-right: 0
}

[class~=land-pack-grid-text] h4 {
    margin-top: 0
}

[class~=land-pack-grid-text] h4 {
    background: #fff
}

[class~=dwn-now-btn],
[class~=land-com-form] form ul li input[type=submit] {
    height: .520833333in
}

[class~=land-pack-grid-text] h4 {
    padding-left: .15625in
}

[class~=land-pack-grid-text] h4 {
    padding-bottom: .15625in
}

[class~=land-pack-grid-text] h4 {
    padding-right: .15625in
}

.land-com-form form ul li:nth-child(6):hover:before {
    margin-left: 212px
}

[class~=land-com-form] form ul li input[type=submit] {
    text-transform: uppercase
}

[class~=land-pack-grid-text] h4 {
    padding-top: .15625in
}

[class~=land-com-form] form ul li input[type=submit],
[class~=land-pack-grid-text] h4 {
    font-weight: 600
}

[class~=buy-now-btn] {
    border-left-color: #b32120
}

[class~=land-com-form] form ul li {
    list-style-type: none
}

.land-com-form form ul li input {
    display: block
}

[class~=buy-now-btn] {
    border-bottom-color: #b32120
}

[class~=land-pack-grid-text] h4 {
    font-size: .9375pc
}

.land-com-form form ul li input {
    border-left-width: .75pt
}

[class~=buy-now-btn] {
    border-right-color: #b32120
}

select {
    border-top-style: solid
}

[class~=buy-now-btn] {
    border-top-color: #b32120
}

[class~=land-pack-grid-text] h4 {
    font-family: open sans, sans-serif
}

[class~=land-com-form] form ul li input[type=submit] {
    font-size: 1pc
}

.land-3-cus-tit h2 {
    font-size: 3pc
}

.land-com-form form ul li input {
    border-bottom-width: .75pt
}

.land-3-cus-tit h2 {
    line-height: .5in
}

[class~=land-3-cus-tit] p {
    margin-top: .25pc
}

[class~=land-3-cus-tit] p {
    letter-spacing: 4px
}

.land-3-agen-right ul li h4,
[class~=dwn-now-btn] {
    font-size: 20px
}

[class~=buy-now-btn] {
    border-image: url('') none
}

[class~=land-com-form] form ul li input[type=submit] {
    text-align: center
}

[class~=buy-now-btn] {
    text-transform: capitalize
}

[class~=test-box] h4 {}

[class~=buy-now-btn],
.land-com-form form ul li:nth-child(6):hover:before {
    -webkit-transition: all .5s ease
}

[class~=buy-now-btn] {
    -moz-transition: all .5s ease
}

[class~=buy-now-btn] {
    -o-transition: all .5s ease
}

[class~=land-com-form] form ul li input[type=submit],
[class~=dwn-now-btn] {
    border-radius: 3px
}

[class~=buy-now-btn] {
    transition: all .5s ease
}

.land-3-agen-right ul li h4 {
    line-height: 24px
}

[class~=dwn-now-btn] {
    color: #1a2a38
}

[class~=dwn-now-btn] {
    margin-left: auto
}

[class~=dwn-now-btn] {
    margin-bottom: 0
}

.land-3-agen-right ul li p,
[class~=test-box] h6,
[class~=test-box] p {
    color: #495e71
}

[class~=land-com-form] form ul li input[type=submit] {
    cursor: pointer
}

[class~=dwn-now-btn] {
    margin-right: auto
}

[class~=dwn-now-btn] {
    margin-top: .104166667in
}

[class~=dwn-now-btn] {
    display: inline-block
}

.land-3-agen-right ul li h4 {
    margin-bottom: 6pt
}

[class~=dwn-now-btn] {
    line-height: .520833333in
}

[class~=dwn-now-btn] {
    font-weight: 700
}

[class~=test-box] p,
.land-3-agen-right ul li p {
    line-height: 26px
}

[class~=dwn-now-btn] {
    padding-left: .3125in
}

[class~=dwn-now-btn] {
    padding-bottom: 0
}

[class~=test-box] h6 {
    letter-spacing: .010416667in
}

[class~=dwn-now-btn] {
    padding-right: .3125in
}

[class~=test-box] h6 {
    font-size: .135416667in
}

[class~=dwn-now-btn] {
    padding-top: 0
}

[class~=dwn-now-btn] {
    background: -webkit-linear-gradient(to right, #363795, #005c97)
}

[class~=test-box] h6 {
    font-weight: 300
}

[class~=land-com-form] form ul li input[type=submit] {
    padding-left: 0
}

[class~=land-3-dwn-right] a:hover {
    border-right-color: #cb2f2e
}

[class~=dwn-now-btn] {
    border-left-width: .75pt
}

select {
    border-left-color: #d4d4d4
}

[class~=dwn-now-btn],
[class~=land-com-form] form ul li input[type=submit] {
    border-bottom-width: .75pt
}

[class~=dwn-now-btn] {
    border-right-width: .75pt
}

[class~=dwn-now-btn] {
    border-top-width: .75pt
}

.land-com-form form ul li input,
[class~=dwn-now-btn] {
    border-left-style: solid
}

select {
    border-bottom-color: #d4d4d4
}

[class~=dwn-now-btn],
.land-com-form form ul li input {
    border-bottom-style: solid
}

[class~=land-3-dwn-right] a:hover {
    border-top-color: #cb2f2e
}

[class~=dwn-now-btn] {
    border-right-style: solid
}

[class~=dwn-now-btn] {
    border-top-style: solid
}

[class~=land-com-form] form ul li input[type=submit] {
    border-left-width: 0
}

[class~=land-3-agen-right] ul li:last-child p {
    margin-bottom: 0
}

[class~=dwn-now-btn] {
    border-left-color: #1a2a38
}

.land-3-agen-right ul li p {
    margin-top: 0
}

[class~=dwn-now-btn] {
    border-bottom-color: #1a2a38
}

[class~=land-3-dwn-right] a:hover {
    border-image: url('') none
}

[class~=dwn-now-btn] {
    border-right-color: #1a2a38
}

select,
[class~=test-box] p {
    font-size: 10.5pt
}

[class~=dwn-now-btn] {
    border-top-color: #1a2a38
}

.test-box img {
    width: 5pc
}

select {
    border-right-color: #d4d4d4
}

select {
    border-top-color: #d4d4d4
}

[class~=dwn-now-btn],
[class~=land-3-dwn-right] a:hover,
.land-com-form form ul li:nth-child(6):hover:before,
.land-pack-grid:hover .land-pack-grid-text {
    -moz-transition: all .5s ease
}

.land-3-agen-right ul li p {
    margin-bottom: 25px
}

select,
[class~=dwn-now-btn] {
    border-image: url('') none
}

[class~=dwn-now-btn] {
    box-sizing: border-box
}

.test-box img {
    height: 80px
}

[class~=land-3-agen-right] ul li:before {
    content: ""
}

[class~=dwn-now-btn] {
    text-align: center
}

[class~=dwn-now-btn] {
    text-transform: capitalize
}

[class~=dwn-now-btn] {
    -webkit-transition: all .5s ease
}

select {
    line-height: 18pt
}

.test-box img {
    -webkit-object-fit: cover
}

[class~=land-3-agen-right] ul li:before {
    position: absolute
}

[class~=dwn-now-btn],
.land-pack-grid:hover .land-pack-grid-text {
    -o-transition: all .5s ease
}

[class~=land-3-dwn-right] a:hover {
    color: #fff
}

[class~=dwn-now-btn] {
    transition: all .5s ease
}

[class~=land-com-form] form ul li input[type=submit] {
    border-right-width: 0
}

.land-packages {
    background: #e9f8fd
}

.test-box img {
    -moz-object-fit: cover
}

.land-packages {
    margin-top: -4.5pt
}

[class~=land-3-banner-conte] ul li {
    margin-bottom: .15625in
}

.test-box img {
    -o-object-fit: cover
}

.land-packages,
.test-box img {
    border-bottom-width: .0625pc
}

.test-box img,
[class~=land-com-form] form ul li input[type=submit],
.land-packages {
    border-bottom-style: solid
}

.land-packages {
    border-bottom-color: #cfe5ec
}

.test-box img {
    -ms-object-fit: cover
}

[class~=land-3-dwn-right] a:hover {
    background: #d63938
}

.land-packages {
    border-image: url('') none
}

.test-box img {
    object-fit: cover
}

.test-box img {
    border-radius: 50%
}

[class~=land-3-agen-right] ul li:before {
    width: 25px
}

.land-packages,
.test-box img {
    border-top-width: .0625pc
}

.test-box img {
    margin-top: -.677083333in
}

select,
.test-box img {
    background: #fff
}

.test-box img {
    border-left-width: 1px
}

.land-com-form form ul li input,
.test-box img {
    border-right-style: solid
}

.test-box img,
.land-packages,
.land-com-form form ul li input {
    border-top-style: solid
}

[class~=land-3-agen-right] ul li:before {
    height: .260416667in
}

[class~=land-3-dwn-right] a:hover {
    background: -webkit-linear-gradient(to top, #c72c2b, #ef4b4a)
}

.land-packages {
    border-top-color: #cfe5ec
}

[class~=land-3-agen-right] ul li:before {
    background: #3a4cb0
}

.land-packages {
    padding-left: 0
}

.land-packages {
    padding-bottom: .78125in
}

[class~=land-3-dwn-right] a:hover {
    background: linear-gradient(to top, #c72c2b, #ef4b4a)
}

[class~=land-3-agen-right] ul li:before {
    margin-left: -59.25pt
}

[class~=land-com-form] form ul li input[type=submit] {
    border-top-width: 0
}

[class~=land-com-form] form ul li input[type=submit] {
    border-left-style: none
}

[class~=land-3-agen-right] ul li:before {
    z-index: 2
}

select {
    outline: none
}

.test-box img {
    border-right-width: 1px
}

.land-packages {
    padding-right: 0
}

.land-packages {
    padding-top: 60pt
}

select,
[class~=land-pack-grid]:hover [class~=land-pack-grid-btn] {
    height: 2.5pc
}

.land-pack,
[class~=land-pack-grid] {
    position: relative
}

.test-box img {
    border-left-style: solid
}

[class~=land-pack-grid-text],
[class~=land-3-dwn-right] a:hover {
    -webkit-transition: all .5s ease
}

.land-pack {
    display: table
}

.land-com-form form ul li:nth-child(6):hover:before,
.test-box img,
[class~=land-pack-grid-text],
[class~=land-3-dwn-right] a:hover {
    -o-transition: all .5s ease
}

[class~=land-com-form] form ul li input[type=submit] {
    border-right-style: none
}

select {
    padding-left: .46875in
}

.land-pack {
    width: 80%
}

select,
[class~=land-pack-grid] {
    box-sizing: border-box
}

[class~=land-3-dwn-right] a:hover,
.land-pack-grid:hover .land-pack-grid-text,
[class~=land-pack-grid-text],
[class~=test-box]:hover {
    transition: all .5s ease
}

.land-pack {
    margin-left: auto
}

[class~=land-com-form] form ul li input[type=submit] {
    border-top-style: none
}

[class~=land-com-form] form ul li input[type=submit] {
    border-left-color: currentColor
}

[class~=land-pack-grid],
.land-pack {
    margin-bottom: 0
}

.test-box img {
    border-left-color: #1a2a38
}

[class~=land-3-agen-right] ul li:before {
    border-radius: 3.125pc
}

.land-pack {
    margin-right: auto
}

.land-com-form form ul li input {
    border-left-color: #d4d4d4
}

select {
    border-radius: 2.25pt
}

[class~=land-com-form] form ul li input[type=submit] {
    border-bottom-color: #ea3224
}

select {
    color: #1a2a38
}

[class~=land-pack-grid],
.land-pack {
    margin-top: 0
}

[class~=land-pack-grid] {
    display: inline-block
}

[class~=land-pack-grid] {
    width: 85%
}

.test-box img {
    border-bottom-color: #1a2a38
}

[class~=land-pack-grid] {
    overflow: hidden
}

.test-box img {
    border-right-color: #1a2a38
}

[class~=land-com-form] form ul li input[type=submit] {
    border-right-color: currentColor
}

[class~=land-pack-grid] {
    height: auto
}

[class~=land-pack-grid] {
    margin-left: 7.5%
}

.land-com-form form ul li input {
    border-bottom-color: #d4d4d4
}

.test-box img {
    border-top-color: #1a2a38
}

[class~=land-com-form] form ul li input[type=submit] {
    border-top-color: currentColor
}

[class~=land-pack-grid] {
    margin-right: 7.5%
}

.test-box img,
[class~=land-com-form] form ul li input[type=submit] {
    border-image: url('') none
}

.test-box img,
[class~=land-pack-grid-btn],
[class~=test-box]:hover[class~=test-box] img,
[class~=land-pack-grid-text] {
    -moz-transition: all .5s ease
}

[class~=land-pack-grid-text] {
    position: relative
}

[class~=land-pack-grid-text] {
    margin-top: -.052083333in
}

[class~=land-3-agen-right] ul li:before {
    border-left-width: .052083333in
}

.test-box img {
    padding-left: .625pc
}

[class~=land-pack-grid-btn] {
    background: #17b599
}

.test-box img {
    padding-bottom: .625pc
}

[class~=land-event-date-left] span:nth-child(1) {
    color: #000
}

.test-box img {
    padding-right: .625pc
}

[class~=land-pack-grid-btn] {
    color: #fff !important
}

.land-com-form form ul li input {
    border-right-color: #d4d4d4
}

.test-box img {
    padding-top: .625pc
}

[class~=land-3-cus-tit],
[class~=land-1-foot-text] p,
[class~=land-event-date-left] span:nth-child(1),
[class~=land-pack-grid-btn] {
    text-align: center
}

.test-box img,
[class~=land-pack-grid-btn] {
    box-sizing: border-box
}

[class~=land-pack-grid-btn],
[class~=land-event-date-left] span {
    display: block
}

[class~=land-com-form] form ul {}

[class~=land-pack-grid-btn] {
    height: .15625pc
}

.land-com-form form ul li input {
    border-top-color: #d4d4d4
}

.test-box img,
[class~=land-pack-grid-btn] {
    -webkit-transition: all .5s ease
}

[class~=land-pack-grid-btn] {
    line-height: 42px
}

.land-com-form form ul li input {
    border-image: url('') none
}

[class~=test-box],
[class~=land-pack-grid-btn],
.test-box img,
.land-com-form form ul li:nth-child(6):hover:before {
    transition: all .5s ease
}

[class~=land-pack-grid-btn] {
    -o-transition: all .5s ease
}

[class~=land-pack-grid-btn] {
    text-transform: uppercase
}

[class~=land-pack-grid-btn] {
    text-decoration: none
}

[class~=land-pack-grid-btn] {
    font-weight: 500
}

[class~=land-event-date-left] span:nth-child(1) {
    font-size: 32px
}

[class~=land-pack-grid-btn] {
    font-size: .8125pc
}

[class~=land-pack-grid-btn] {
    letter-spacing: .005208333in
}

[class~=land-1-foot-text] p {
    margin-left: 0
}

[class~=land-1-foot-text] p {
    margin-bottom: 0
}

[class~=land-1-foot-text] p {
    margin-right: 0
}

.land-3-cus-box,
[class~=land-pack] ul li {
    float: left
}

[class~=land-pack-grid-btn-red] {
    background: #df431f
}

[class~=land-pack-grid-btn-yel] {
    background: #f3c438
}

[class~=land-1-foot-text] p {
    margin-top: 0
}

[class~=land-pack-grid-btn-blu] {
    background: #01a0d8
}

[class~=land-com-form] form ul li:nth-child(6):before {
    content: "send"
}

[class~=land-3-cus-full] {
    padding-left: 0
}

.land-3-cus-box,
[class~=land-3-cus-full] {
    padding-bottom: 0
}

[class~=land-3-cus-full] {
    padding-right: 0
}

[class~=vmr-btn]:hover {
    background: #cc3917
}

[class~=land-1-foot-text] p,
.land-com-form form ul li input {
    font-size: 10.5pt
}

[class~=land-3-cus-full] {
    padding-top: 80px
}

[class~=land-1-foot-text] p {
    color: #687179
}

[class~=loca-add] p {
    margin-bottom: 0
}

[class~=land-3-cus-full] {
    border-bottom-width: .0625pc
}

[class~=land-3-cus-full] {
    border-bottom-style: solid
}

[class~=land-event-date-right] span,
[class~=land-event-date-right] h4 {
    text-transform: capitalize
}

[class~=land-3-cus-full] {
    border-bottom-color: #e6e4e4
}

[class~=land-3-cus-full] {
    border-image: url('') none
}

[class~=land-3-cus-tit] {
    margin-bottom: 4.375pc
}

.land-3-cus-box {
    width: 50%
}

.land-3-cus-box {
    padding-left: .208333333in
}

[class~=land-event-date-left] span:nth-child(1) {
    font-weight: 600
}

.land-3-cus-box {
    padding-right: .208333333in
}

[class~=land-event-date-left] span:nth-child(1) {
    line-height: 33.75pt
}

.land-3-cus-box {
    padding-top: 0
}

.land-3-cus-box {
    margin-bottom: 5pc
}

[class~=test-box],
.land-com-form form ul li input {
    background: #fff
}

[class~=test-box] {
    box-shadow: 0 .052083333in 15pt -.083333333in rgba(19, 18, 18, .5)
}

[class~=test-box] {
    box-shadow: 0 .03125in 26.25pt .45pt rgba(40, 30, 20, .1)
}

[class~=land-event-date-left] span:nth-child(2) {
    color: #000
}

[class~=test-box] {
    padding-left: 22.5pt
}

.land-com-form form ul li input {
    line-height: 18pt
}

[class~=test-box] {
    padding-bottom: 22.5pt
}

[class~=test-box] {
    padding-right: 22.5pt
}

[class~=land-event-date-right] h4 {
    padding-top: 0
}

[class~=land-3-agen-right] ul li:before {
    border-bottom-width: .052083333in
}

[class~=land-event-date-left] span:nth-child(2),
[class~=test-box] {
    text-align: center
}

[class~=land-pack] ul li {
    width: 33.333%
}

[class~=land-event-date-right] h4 {
    font-size: 1.5pc
}

[class~=test-box] {
    padding-top: 22.5pt
}

[class~=land-pack-grid]:hover [class~=land-pack-grid-btn],
[class~=test-box] {
    -webkit-transition: all .5s ease
}

[class~=land-3-agen-right] ul li:before {
    border-right-width: .052083333in
}

[class~=test-box] {
    -webkit-box-shadow: 0 3px 26.25pt .45pt rgba(40, 30, 20, .1)
}

[class~=land-com-form] form ul li:nth-child(6):before {
    margin-left: 2.15625in
}

[class~=land-event-date-right] h4 {
    font-weight: 500
}

[class~=test-box] {
    -moz-box-shadow: 0 3px 35px .0375pc rgba(40, 30, 20, .1)
}

[class~=land-event-date-right] span {
    letter-spacing: 2px
}

[class~=test-box] {
    border-radius: .3125pc
}

[class~=land-event-date-right] span {
    font-weight: 300
}

[class~=land-event-date],
.land-3-agen-left img {
    width: 100%
}

.land-com-form form ul li input {
    outline: none
}

[class~=test-box] {
    -moz-transition: all .5s ease
}

.land-3-agen-left img {
    margin-top: 18.75pt
}

.land-com-form form ul li input {
    height: 2.5pc
}

[class~=test-box] {
    -o-transition: all .5s ease
}

[class~=land-3-agen-left] h2 {
    font-size: 48px
}

[class~=land-event-date],
[class~=land-pack] ul li {
    display: inline-block
}

[class~=land-com-form] form ul li:nth-child(6):before {
    margin-top: 1.0625pc
}

[class~=land-3-agen-left] h2 {
    line-height: 48px
}

.land-1-foot-full {
    background: #1a2a38
}

[class~=land-event-date-left] span:nth-child(2) {
    font-size: .177083333in
}

.land-3-agen-left p {
    line-height: 26px
}

.land-1-foot-full {
    padding-left: 0
}

.land-1-foot-full {
    padding-bottom: .104166667in
}

.land-3-agen-left p {
    color: #495e71
}

[class~=land-com-form] form ul li:nth-child(6):before {
    color: #fff
}

[class~=land-1-foot-text],
.land-3-agen-right ul {}

[class~=land-4-agen-full],
.land-1-foot-full {
    padding-right: 0
}

[class~=land-event-date-left] span:nth-child(2) {
    font-weight: 600
}

.land-1-foot-full {
    padding-top: .104166667in
}

[class~=land-3-agen-right] iframe {
    border-left-width: 0
}

[class~=land-com-form] form ul li:nth-child(6):before {
    font-size: 1pc
}

[class~=land-3-agen-right] iframe {
    border-bottom-width: 0
}

[class~=land-3-agen-right] iframe {
    border-right-width: 0
}

[class~=land-event-date],
[class~=land-3-agen] {
    position: relative
}

[class~=land-3-agen-right] iframe {
    border-top-width: 0
}

[class~=land-3-agen-right] iframe {
    border-left-style: none
}

[class~=land-com-form] form ul li:nth-child(6):before {
    opacity: 0
}

.land-com-form form ul li input {
    padding-left: .46875in
}

[class~=land-3-agen-left],
[class~=land-event-date-left],
[class~=land-event-date-right],
.land-3-agen-right {
    float: left
}

[class~=land-event-date-left] {
    width: 52.5pt
}

[class~=land-3-agen-right] iframe {
    border-bottom-style: none
}

[class~=land-3-agen-right] iframe {
    border-right-style: none
}

[class~=land-3-agen-right] ul li:before {
    border-top-width: .052083333in
}

[class~=land-event-date-right],
[class~=land-event-date-left] {
    height: 4.375pc
}

[class~=land-event-date-left] {
    background: #fff
}

[class~=land-event-date-left] {
    border-radius: 2px
}

[class~=land-3-agen-right] ul li:before {
    border-left-style: solid
}

[class~=land-3-agen-right] ul li:nth-child(odd):before {
    background: #76cef1
}

[class~=land-event-date-left] span:nth-child(2) {
    background: #ffeb3b
}

[class~=land-event-date-right] {
    width: 300px
}

[class~=land-event-date-right] {
    padding-left: 20px
}

[class~=land-4-agen-full] {
    padding-left: 0
}

[class~=land-4-agen-full] {
    padding-bottom: 52.5pt
}

.land-com-form form ul li input {
    box-sizing: border-box
}

.land-com-form form ul li input {
    border-radius: 2.25pt
}

[class~=land-4-agen-full],
[class~=land-4-loca-full] {
    padding-top: 80px
}

[class~=test-box]:hover[class~=test-box] img {
    -o-transition: all .5s ease
}

[class~=land-4-agen-full] {
    border-bottom-width: 1px
}

[class~=land-3-agen-right] ul li:before,
[class~=land-4-agen-full] {
    border-bottom-style: solid
}

[class~=land-3-agen-right] iframe {
    border-top-style: none
}

[class~=land-4-agen-full] {
    border-bottom-color: #e6e4e4
}

[class~=land-1-foot-text] p a {
    color: #c8dae6
}

[class~=land-com-form] form ul li:nth-child(6):before,
[class~=vmr-btn] {
    -webkit-transition: all .5s ease
}

.land-com-form form ul li input {
    color: #1a2a38
}

[class~=land-4-agen-full] {
    border-image: url('') none
}

[class~=land-3-agen-right] iframe {
    border-left-color: currentColor
}

[class~=land-3-agen] {
    display: inline-block
}

[class~=land-3-agen-right] iframe {
    border-bottom-color: currentColor
}

[class~=land-3-agen-right] iframe {
    border-right-color: currentColor
}

[class~=vmr-btn],
[class~=land-event-date-left] span:nth-child(2) {
    text-transform: uppercase
}

[class~=land-3-agen-right] iframe,
[class~=bor-top-0] {
    border-top-color: currentColor
}

[class~=land-3-agen-right] iframe,
[class~=land-3-agen] {
    width: 100%
}

[class~=land-3-agen-right] iframe {
    border-image: url('') none
}

[class~=land-3-agen-right] ul li:nth-child(even):before {
    background: #6ae697
}

[class~=bor-top-0] {
    border-top-width: 0
}

[class~=bor-top-0] {
    border-top-style: none
}

[class~=land-3-agen-right] iframe {
    height: 11.875pc
}

[class~=land-3-agen-right] iframe {
    pointer-events: none
}

[class~=bor-top-0] {
    border-image: url('') none
}

[class~=land-3-agen-left] {
    width: 30%
}

[class~=land-event-date-left] span:nth-child(2) {
    margin-top: .0625pc
}

[class~=land-com-form] form ul li p {
    margin-bottom: 0
}

.land-3-agen-right {
    width: 70%
}

.land-3-agen-right {
    padding-left: 70px
}

[class~=alert],
.land-3-agen-right {
    position: relative
}

[class~=alert],
[class~=land-3-agen-right] ul li:before {
    border-right-style: solid
}

[class~=land-4-loca-full] {
    padding-left: 0
}

[class~=land-4-loca-full] {
    padding-bottom: 48.75pt
}

[class~=land-com-form] form ul li p {
    color: #a1aab3
}

[class~=land-4-loca-full] {
    padding-right: 0
}

[class~=vmr-btn] {
    background: #df431f
}

[class~=land-event-date-left] span:nth-child(2) {
    border-radius: 0 0 1.5pt 2px
}

[class~=vmr-btn] {
    color: #fff !important
}

[class~=land-com-form] form ul li p,
[class~=vmr-btn] {
    text-align: center
}

[class~=vmr-btn] {
    display: block
}

[class~=vmr-btn] {
    line-height: .4375in
}

[class~=vmr-btn] {
    box-sizing: border-box
}

[class~=land-pack-grid]:hover [class~=land-pack-grid-btn],
[class~=land-com-form] form ul li:nth-child(6):before,
[class~=vmr-btn] {
    -moz-transition: all .5s ease
}

[class~=vmr-btn],
[class~=land-com-form] form ul li p {
    font-size: .8125pc
}

[class~=vmr-btn],
[class~=land-com-form] form ul li:nth-child(6):before {
    -o-transition: all .5s ease
}

[class~=land-com-form] form ul li:nth-child(6):before,
[class~=vmr-btn] {
    transition: all .5s ease
}

[class~=vmr-btn] {
    text-decoration: none
}

[class~=vmr-btn] {
    font-weight: 500
}

.land-3-agen-right ul li {
    padding-left: 80px
}

[class~=vmr-btn] {
    letter-spacing: .005208333in
}

[class~=vmr-btn] {
    border-radius: 1.5pt
}

[class~=alert] {
    padding-left: 1.25rem
}

[class~=alert] {
    padding-bottom: .75rem
}

[class~=land-3-agen-right] iframe[class~=clicked] {
    pointer-events: auto
}

[class~=alert] {
    padding-right: 1.25rem
}

[class~=alert] {
    padding-top: .75rem
}

[class~=alert] {
    margin-bottom: 1rem
}

[class~=alert] {
    border-left-width: .75pt
}

[class~=land-3-agen-right] ul::after {
    content: ""
}

[class~=alert] {
    border-bottom-width: .75pt
}

[class~=alert] {
    border-right-width: .75pt
}

[class~=alert] {
    border-top-width: .75pt
}

[class~=alert] {
    border-left-style: solid
}

[class~=alert] {
    border-bottom-style: solid
}

[class~=land-3-agen-right] ul li:before,
[class~=alert] {
    border-top-style: solid
}

[class~=land-3-agen-right] ul::after {
    background: #ececec
}

[class~=alert] {
    border-left-color: transparent
}

[class~=alert] {
    border-bottom-color: transparent
}

[class~=alert] {
    border-right-color: transparent
}

[class~=alert] {
    border-top-color: transparent
}

[class~=alert] {
    border-image: url('') none
}

[class~=land-3-agen-right] ul::after {
    position: absolute
}

[class~=alert] {
    border-radius: .25rem
}

[class~=alert-success] {
    color: #155724
}

[class~=alert-success] {
    background-color: #d4edda
}

[class~=alert-success] {
    border-left-color: #c3e6cb
}

[class~=alert-success] {
    border-bottom-color: #c3e6cb
}

[class~=land-3-agen-right] ul li:before {
    border-left-color: #fff
}

[class~=alert-success] {
    border-right-color: #c3e6cb
}

[class~=alert-success] {
    border-top-color: #c3e6cb
}

[class~=land-3-agen-right] ul li:before {
    border-bottom-color: #fff
}

[class~=alert-success] {
    text-align: center
}

[class~=land-3-agen-right] ul li:before {
    border-right-color: #fff
}

[class~=land-3-agen-right] ul li:before {
    border-top-color: #fff
}

[class~=land-3-agen-right] ul::after {
    width: .0625pc
}

[class~=land-3-agen-right] ul li:before {
    border-image: url('') none
}

[class~=land-3-agen-right] ul::after {
    top: .3125pc
}

[class~=land-3-agen-right] ul li:before {
    box-sizing: border-box
}

[class~=land-pack-grid]:hover [class~=land-pack-grid-btn] {
    -o-transition: all .5s ease
}

[class~=land-3-agen-right] ul li:before {
    margin-top: 2px
}

[class~=land-3-agen-right] ul::after {
    bottom: 0
}

[class~=land-3-agen-right] ul li:before {
    box-shadow: 0 0 .104166667in .00625in rgba(40, 30, 20, .08)
}

[class~=test-box]:hover[class~=test-box] img,
[class~=land-pack-grid]:hover [class~=land-pack-grid-btn] {
    transition: all .5s ease
}

[class~=land-3-agen-right] ul::after {
    height: 98%
}

[class~=land-3-agen-right] ul::after {
    left: 82px
}

[class~=land-com-form] form ul li p a {
    color: #fff
}

@media screen and (max-width:1050px) {
    .land-container {
        width: 85%
    }
    [class~=land-3-banner-conte] {
        width: 60%
    }
    [class~=land-3-banner-conte] {
        padding-right: 3.75pc
    }
    [class~=land-3-banner-form],
    [class~=land-3-banner-conte] {
        padding-left: 0
    }
    [class~=land-3-banner-conte] h1 {
        font-size: .520833333in
    }
    [class~=land-3-banner-conte] h1 {
        line-height: 37.5pt
    }
    [class~=land-3-banner-form],
    .land-3-banner-conte h4,
    [class~=land-3-banner-full]:before {}
    [class~=land-3-banner-form] {
        width: 40%
    }
    [class~=land-3-banner-form] {
        padding-right: 0
    }
    [class~=land-3-top-logo] {
        width: 30%
    }
    .land-3-banner-conte p {
        padding-bottom: 0
    }
    [class~=land-3-top-contact] {
        width: 70%
    }
    [class~=land-3-agen-left] {
        padding-bottom: .3125in
    }
    [class~=loca-add] {
        padding-bottom: 0
    }
    [class~=land-event-date] {
        display: table
    }
    [class~=land-event-date] {
        width: auto
    }
    [class~=land-event-date] {
        margin-left: auto
    }
    [class~=land-event-date] {
        margin-bottom: 0
    }
    [class~=land-event-date] {
        margin-right: auto
    }
    [class~=land-event-date] {
        margin-top: 0
    }
    .land-3-banner-conte p {
        margin-bottom: 0
    }
    [class~=land-event-date-right] h4 {
        text-align: left
    }
}

@media screen and (max-width:992px) {
    [class~=land-3-agen-right] ul li:before {
        margin-left: -51.75pt
    }
    [class~=land-3-agen-left] {
        width: 40%
    }
    [class~=land-3-agen-left],
    .land-3-agen-right {
        padding-left: 0
    }
    .land-3-agen-right {
        width: 60%
    }
    [class~=land-3-top-contact] ul li {
        margin-left: .416666667in
    }
    [class~=land-3-top-contact] ul li {
        font-size: 12px
    }
    .land-3-agen-right ul li {
        padding-left: 1.302083333in
    }
    .land-4-agen-full,
    [class~=land-packages],
    [class~=land-4-loca-full],
    [class~=land-3-banner-full],
    [class~=land-3-cus-full] {
        padding-left: 0
    }
    [class~=land-3-agen-right] ul::after {
        left: 68px
    }
    [class~=land-3-banner-full] {
        padding-bottom: 3.75pc
    }
    [class~=land-3-cus-full],
    [class~=land-4-loca-full],
    [class~=land-packages],
    [class~=land-3-banner-full],
    .land-4-agen-full {
        padding-right: 0
    }
    [class~=land-3-banner-full],
    [class~=land-packages],
    [class~=land-4-loca-full],
    .land-4-agen-full,
    [class~=land-3-cus-full] {
        padding-top: .625in
    }
    [class~=land-pack] {
        width: 100%
    }
    [class~=land-3-banner-conte] {
        width: 55%
    }
    [class~=land-3-agen-left] h2 {
        font-size: 36px
    }
    .land-3-banner-form {
        width: 45%
    }
    [class~=land-packages] {
        padding-bottom: .572916667in
    }
    .land-4-agen-full {
        padding-bottom: 50px
    }
    [class~=land-3-agen-left] h2 {
        line-height: 36px
    }
    [class~=land-3-banner-full]:before {
        background-size: 300pt
    }
    [class~=land-3-cus-full] {
        padding-bottom: 0
    }
    [class~=land-3-cus-box] {
        margin-bottom: 70px
    }
    [class~=land-4-loca-full] {
        padding-bottom: 50px
    }
    [class~=land-pack-grid-text] h4 {
        font-size: 10.5pt
    }
}

@media screen and (max-width:767px) {
    [class~=land-3-top-logo],
    [class~=land-3-agen-left],
    [class~=land-3-agen-right],
    [class~=land-3-dwn-img],
    [class~=land-3-cus-box],
    [class~=land-3-dwn-right],
    .land-pack ul li {
        width: 100%
    }
    [class~=land-3-dwn-img] img {
        height: auto
    }
    [class~=land-3-dwn-right] {
        padding-left: 0
    }
    [class~=land-3-agen-right] ul li h4 {
        font-size: 12pt
    }
    [class~=land-3-top-logo] a img {
        margin-left: auto
    }
    [class~=land-3-banner-conte],
    [class~=land-3-dwn-right],
    [class~=land-3-agen-left] {
        text-align: center
    }
    [class~=land-3-agen-left] h2,
    [class~=land-3-cus-tit] h2,
    [class~=land-3-agen-left] h2,
    [class~=land-3-dwn-right] h2,
    .land-3-banner-conte h1 {
        font-size: .375in
    }
    [class~=land-pack] ul li:last-child {
        margin-bottom: 0
    }
    [class~=land-3-dwn-right] {
        margin-top: 35px
    }
    [class~=land-3-agen-left] h2,
    [class~=land-3-agen-left] h2,
    [class~=land-3-cus-tit] h2,
    .land-3-banner-conte h1,
    [class~=land-3-dwn-right] h2 {
        line-height: 36px
    }
    .land-3-banner-conte h1 {
        margin-bottom: 20px
    }
    .land-3-top-contact {
        display: none
    }
    [class~=land-3-cus-box] {
        float: left
    }
    [class~=land-3-cus-box] {
        padding-left: 15pt
    }
    [class~=land-3-cus-box],
    [class~=land-3-cus-box] {
        padding-bottom: 0
    }
    [class~=land-3-cus-box] {
        padding-right: 15pt
    }
    [class~=land-3-cus-box],
    [class~=land-3-cus-box] {
        padding-top: 0
    }
    [class~=land-3-top-logo] a img {
        margin-bottom: 0
    }
    [class~=land-3-cus-box] {
        margin-bottom: 52.5pt
    }
    [class~=land-3-agen-left] {
        margin-bottom: 5px
    }
    [class~=land-3-agen-right] ul li p {
        line-height: 1.5pc
    }
    .land-event-date-right {
        width: auto
    }
    [class~=land-3-cus-box] {
        padding-left: 0
    }
    [class~=land-3-cus-box] {
        padding-right: 0
    }
    [class~=land-3-banner-form],
    [class~=land-3-banner-conte] {
        width: 100%
    }
    [class~=land-3-banner-conte] {
        padding-right: 0
    }
    [class~=land-3-banner-conte] {
        padding-bottom: 40px
    }
    [class~=loca-add],
    .land-pack ul li {
        margin-bottom: 30px
    }
    .land-3-banner-conte h4 {
        font-size: 16px
    }
    [class~=land-3-top-logo] a img {
        margin-right: auto
    }
    .land-3-banner-conte h4 {
        line-height: 20px
    }
    [class~=land-full] p {
        line-height: 18pt
    }
    [class~=land-3-top-logo] a img {
        margin-top: 0
    }
    [class~=land-3-top-logo] a img {
        display: table
    }
    .land-3-agen-right ul li {
        padding-left: .677083333in
    }
    [class~=land-3-agen-right] ul::after {
        left: 8px
    }
}

@media screen and (max-width:480px) {
    [class~=land-3-dwn-right] a {
        margin-right: 0
    }
    [class~=land-3-dwn-right] a {
        width: 100%
    }
}

@media screen and (max-width:400px) {}